<h1>The page of Claire </h1> <h2>My favorite movie you see right now.</h2>

<h3>By the way,have fun looking at my web!</h3>
<h2>The Pirates Who Don't Do Anything</h2>
<img src="http://g-ecx.images-amazon.com/images/G/01/dvd/Universal/VeggieTales/VT5_L.jpg">
<h2>If you have watched this movie, do you like it?</h2>