<h1> Dad's Page </h1>

<p> This is a page that was written by Dad last night. </p>

<p> But my name isn't actually Dad, it's Isaac. </p>

<p>Here is a picture of me</p>

<img src="https://pbs.twimg.com/profile_images/462494289897861121/TW6ouVma_400x400.png" />

<p>And here's a link to my <a href="https://twitter.com/brainscraps">Twitter page</a>.</p>