<h1>Zoe Page</h1>
<p>I like to read and play.</p>
<p>I like to do puzzles to</p>

<p>My favorite book is Trumpet of the Swan.</p>
<img src="http://upload.wikimedia.org/wikipedia/en/6/68/Trumpet_of_the_Swan_Cover.jpeg">
<img src="https://neutrois.files.wordpress.com/2011/08/puzzle2.jpg">